body {
  font-family: 'Karla', sans-serif;
  line-height: 20px;
}

i {
  color: #939393;
  font-size: 30px;
  padding: 18px;
}

a {
  color: #3bfc34;
}

.card {
  position: none;
}

.card-image {
  position: none;
}

.card-content {
  position: none;
}

.card-action {
  position: none;
}

.fa-linkedin:before {
  content: "\f0e1";
}

.social {
  display: inline-block;
}

#social-icons {
  display: inline-block;
}

#header {
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #fafafa;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  position: fixed;
}

.hello-world {
  text-align: center;
  margin-top: 100px;
  font-size: 36;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
}

.header-name {
  margin-top: 10px;
}

#about-me {
  margin-top: 120px;
  margin-left: 175px;
}

#terminal {
  background-color: #cccccc;
  width: 670px;
  text-align: center;
}

#console {
  background-color: #383737;
  width: 670px;
}

.terminal-text {
  color: #3bfc34;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 13px;
}

#projects-list {
  margin-top: 100px;
  margin-left: 220px;
}

#project-header {
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.time-pal {
  float: left;
}

.skill {
    border: 1px solid #50a9d1;
    border-radius: 8px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
}
