i {
  color: #939393;
  font-size: 20px;
  padding: 18px;
}

.fa-linkedin:before {
  content: "\f0e1";
}

#social-icons {
  display: 'block';
}

.skill {
  border: 1px solid #50a9d1;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
}
